n8n-workflows/check_inventory.json
{
  "name": "Check Inventory",
  "nodes": [
    {
      "parameters": {
        "path": "check_inventory",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "check_inventory"
    },
    {
      "parameters": {
        "jsCode": "// n8n webhook may put POST body in $json.body or at root level\nconst data = $json.body || $json;\n\n// Validate required parameters\nif (!data.productName && !data.productSku) {\n  return {\n    _error: true,\n    success: false,\n    message: 'Please provide either productName or productSku to check inventory.',\n    requiredParameters: {\n      productName: { type: 'string', description: 'Product name to search for (e.g., \"pepperoni pizza\")' },\n      productSku: { type: 'string', description: 'Product SKU code (e.g., \"PIZZA-001\")' },\n      quantity: { type: 'number', description: 'Quantity to check availability for (optional, default: 1)' }\n    },\n    example: { productName: 'pepperoni pizza', quantity: 2 }\n  };\n}\n\n// Get integration from _integrations object (keyed by integration type)\nconst integrations = data._integrations || {};\nconst integration = integrations.inventory_api;\n\nif (!integration || !integration.apiUrl) {\n  return {\n    _error: true,\n    success: false,\n    message: 'No API integration configured for this client. Please set up an inventory_api integration in the admin panel.',\n    debug: { hasIntegrations: !!data._integrations, keys: Object.keys(integrations) }\n  };\n}\n\n// Use full URL from integration (no path appending needed)\n// Replace any placeholders if present\nlet apiUrl = integration.apiUrl;\napiUrl = apiUrl.replace('{productName}', encodeURIComponent(data.productName || ''));\napiUrl = apiUrl.replace('{productSku}', encodeURIComponent(data.productSku || ''));\n\n// Prepare API call config\nreturn {\n  productName: data.productName,\n  productSku: data.productSku,\n  quantity: data.quantity || 1,\n  _apiConfig: {\n    url: apiUrl,\n    key: integration.apiKey,\n    method: integration.method || 'POST',\n    authMethod: integration.authMethod || 'bearer'\n  }\n};"
      },
      "id": "prepare-request",
      "name": "Prepare API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-error",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "={{ $json._apiConfig.method }}",
        "url": "={{ $json._apiConfig.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json._apiConfig.key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"productName\": \"{{ $json.productName }}\",\n  \"productSku\": \"{{ $json.productSku }}\",\n  \"quantity\": {{ $json.quantity }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-api-call",
      "name": "Call Client API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-success",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API Request": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Client API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Client API": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "4",
  "id": "check_inventory"
}
